body{
    background-color: #f7f7f7;
    font-family: 'ff-clan-web-pro', sans-serif;
}
a {
    text-decoration: none;
}
.page{
    margin: 2em 0px;
}

.logo {
    width: 100px;
    margin: 0 auto;
    background: #000000;
    color: azure;
    padding: 35px 0px !important;
    text-align: center;
    font-weight: 500;
    font-size: 22px;
}
.title {
    font-weight: 400 !important;
    text-align: center;
}
.sub-title{
    font-weight: 300;
    text-align: center;
}
.registration-form{
    margin: auto;
    width: 35%;
    padding: 10px;
    box-sizing:border-box;
}
.form-group, .button {
    padding: 0;
    margin: 0;
    list-style: none;
    
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    justify-content: space-between;
}
div .col-half {
    width: 49%;
}
.margin-top{
    margin: 20px 0px;
}

label {
    display: block;
    font-weight: 500;
    font-size: 12px;
    padding: 5px 0;
}
input {
    display: block;
    padding: 15px;
    background: #fff;
    border: 1px solid #d8d6d6;
    width: 100%;
    margin: 0;
    font-size: 18px;
    font-weight: 400 !important;
    box-sizing:border-box;
    font-family: 'ff-clan-web-pro', sans-serif;
}

#code {
    padding: 10px;
    background: #fff;
    border: 1px solid #d8d6d6;
    width: 100%;
    font-size: 16px;
}
select {
    display: block;
    padding: 15px;
    background: #fff;
    border: 1px solid #d8d6d6;
    width: 100%;
    margin: 0;
    font-size: 18px;
    font-weight: 400 !important;
    box-sizing:border-box;
    font-family: 'ff-clan-web-pro', sans-serif;
}
.input-left{
    display: inline-block;
    flex: 18%;
}
.input-right {
    display: inline-block;
    flex: 82%;
}
.submit {
    clear: both;
    margin: 0;
    padding: 0px;
}
input[type=submit] {
    display: block;
    width: 100%;
    border: none;
    background-color: #4CAF50;
    padding: 14px 10px;
    font-size: 16px;
    cursor: pointer;
    color: #fff;
    text-align: start;
}

.terms {
    font-size: 12px;
}

@media screen and (max-width: 900px) {
    .registration-form{
        width: 60%;
        margin: 0 auto;
    }
}
@media screen and (max-width: 600px) {
    .registration-form{
        width: 100%;
        padding: 10px;
        margin: 0 auto;
    }
    .input-left{
        flex: 30%;
    }
    .input-right {
        flex: 70%;
    }
}